exportPattern("^[[:alpha:]]+")
import(tidyverse)
importFrom(data.table, fread)
importFrom(data.table, data.table)
importFrom(data.table, tstrsplit)
importFrom(data.table, setDT)
importFrom(openxlsx, read.xlsx)
importFrom(openxlsx, write.xlsx)
importFrom(parallel, detectCores)
importFrom(parallel, makeCluster)
importFrom(doParallel, registerDoParallel)
importFrom(fs, dir_ls)
import(pastecs)
importFrom(lme4, lmer)
importFrom(lme4, ranef)
importFrom(lme4, lmerControl)
importFrom(lucid, vc)
import(parallel)
import(foreach)
importFrom(caretEnsemble, caretList)
importFrom(caret, trainControl)
importFrom(caret, createFolds)
importFrom(caretEnsemble, caretModelSpec)
importFrom(caretEnsemble, caretEnsemble)
import(stats)
importFrom(purrr, map)
import(magrittr)
import(xgboost)